:root {
	font-size: var(--font-size-base);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: var(--font-family);
	font-optical-sizing: none;
	font-weight: var(--font-weight-medium);
	font-style: normal;
	font-size: var(--font-size-xlg);
	line-height: 1.2;
	color: var(--color-dark-blue);
	background-image: var(--gradient-body);
	background-color: var(--color-dark-blue);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

@media (max-width: 1279px) {
	body {
		background-image: var(--gradient-body-mobile);
	}
}

@media (max-width: 767px) {
	body {
		font-size: var(--font-size-sm);
		line-height: 1.22;
	}
}
