.content {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: var(--gap);
	padding: var(--padding-md);
	background-color: var(--color-light-gray);
	border-radius: var(--border-radius-main);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

@media (max-width: 767px) {
	.content {
		padding: var(--padding-sm);
		row-gap: var(--gap-md);
	}
}
