.welcome {
	align-items: center;
}

.welcome::after {
	content: '';
	position: absolute;
	top: -79px;
	right: 0;
	width: 135px;
	height: 146px;
	background-image: url(/assets/images/illustration/welcome.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.welcomeTitle {
	max-width: 375px;
	font-size: var(--font-size-xxlg);
	line-height: 1.23;
	font-weight: var(--font-weight-bold);
	text-align: center;
}

.welcomeDesc {
	display: block;
	margin-top: 0.8rem;
	font-size: var(--font-size-xlg);
	font-weight: var(--font-weight-medium);
	line-height: 1.15;
}

.welcomeQuestion {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: var(--gap-sm);
}

@media (max-width: 767px) {
	.welcome::after {
		width: 90px;
		height: 97px;
		top: -61px;
	}

	.welcomeTitle {
		font-size: var(--font-size-lg);
		line-height: 1.16;
	}

	.welcomeDesc {
		font-size: var(--font-size-sm);
		line-height: 1.22;
	}
}
