:root {
	--font-family-base: 'Inter', serif;
	--main-font-size: 62.5%;

	--container-padding-x: 3.2rem;

	--row-gap: 32px;
	--row-gap-card: 16px;

	--main-color: #125365;
	--content-white-color: #f1f1ef;
	--button-main-disabled: #edd0b6;
	--button-main: #ff9c46;

	--main-border-radius: 10px;
	--border-circle-radius: 50%;
	--counter-border-radius: 5px;

	--deg: 45deg;
	--c1: #125365 43%;
	--c2: #ff723f 43% 53.5%;
	--c3: #ff9c46 53.5% 81%;
	--c4: #ffca4a 81%;
	--grad: linear-gradient(
		var(--deg),
		var(--c1),
		var(--c2),
		var(--c3),
		var(--c4)
	);
}
