.result {
	--font-weight-result: inherit;
	font-weight: var(--font-weight-result);
	align-items: center;
}

.resultImage {
	--size-resultImage: 196px;
	width: var(--size-resultImage);
	height: var(--size-resultImage);
	background-image: url(/assets/images/illustration/result.png);
	background-position: 50% 90%;
	background-repeat: no-repeat;
}

.resultDesc {
	line-height: 1.17;
}

.resultWrapper {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-md);
	text-align: center;
}

.resultCorrect {
	--font-weight-result: var(--font-weight-bold);
	font-weight: var(--font-weight-result);
	color: var(--color-green);
}

.resultMistake {
	--font-weight-result: var(--font-weight-bold);
	font-weight: var(--font-weight-result);
	color: var(--color-red);
}

.resultTitle {
	--font-weight-result: var(--font-weight-bold);
	margin-block: 0;
	font-size: var(--font-size-xlg);
	font-weight: var(--font-weight-result);
}
