.result {
	align-items: center;
}

.image-block {
	width: 196px;
	height: 196px;
	background-image: url(../../assets/images/illustration/result.png);
	background-position: 50% 90%;
	background-repeat: no-repeat;
}

.wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	text-align: center;
	letter-spacing: 1px;
}

.correct {
	font-weight: 900;
	color: #2a8f55;
}

.mistake {
	font-weight: 900;
	color: #df4c25;
}

.title {
	margin-block: 0;
	font-size: 3.6rem;
	font-weight: 700;
}
