.result {
	align-items: center;
}

.resultImage {
	width: 196px;
	height: 196px;
	background-image: url(@/shared/assets/images/illustration/result.png);
	background-position: 50% 90%;
	background-repeat: no-repeat;
}

.resultDesc {
	line-height: 1.17;
}

.resultWrapper {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	text-align: center;
}

.resultCorrect {
	font-weight: 700;
	color: #2a8f55;
}

.resultMistake {
	font-weight: 700;
	color: #df4c25;
}

.resultTitle {
	margin-block: 0;
	font-size: 3.6rem;
	font-weight: 700;
}
