.preax {
	font-size: 1.4rem;
	line-height: 1.14;
	font-weight: 400;
	color: var(--content-white-color);
}

.link {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid var(--content-white-color);
	text-transform: uppercase;
}
