.btn {
	position: relative;
	cursor: pointer;
}

.main {
	min-width: 270px;
	min-height: 72px;
	border: none;
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-bold);
	color: var(--color-light-gray);
	border-radius: var(--border-radius-main);
	background-color: var(--color-bright-orange);
	user-select: none;
}

.main:disabled {
	cursor: default;
	background-color: var(--color-light-beige);
}

.counter {
	--size-counter: 50px;
	--color-counter: var(--color-dark-blue);
	position: relative;
	width: var(--size-counter);
	height: var(--size-counter);
	padding: initial;
	color: var(--color-counter);
	border: var(--border-width-md) solid currentColor;
	border-radius: var(--border-radius-circle);
	background-color: transparent;
}

.counter:disabled {
	cursor: default;
	opacity: 0.5;
}

.decrement::after,
.increment::after {
	display: block;
	content: '';
	position: absolute;
	transform: translate(62%, -44%);
	width: 19px;
	height: 4px;
	border-radius: var(--border-radius-counter);
	background-color: currentColor;
}

.increment::before {
	display: block;
	content: '';
	position: absolute;
	transform: translate(19px, -49%);
	width: 4px;
	height: 19px;
	border-radius: var(--border-radius-counter);
	background-color: currentColor;
}

.close {
	--size-btnClose: 33px;
	width: var(--size-btnClose);
	height: var(--size-btnClose);
	padding: initial;
	color: var(--color-light-gray);
	background-color: radial-gradient(
		transparent 50%,
		var(--color-light-gray) 100%
	);
	border: var(--border-width-sm) solid currentColor;
	border-radius: var(--border-radius-circle);
}

.close::before,
.close::after {
	content: '';
	display: block;
	position: absolute;
	top: 12px;
	left: 5.5px;
	width: 16px;
	height: 3px;
	background-color: currentColor;
	border-radius: var(--border-radius-close);
}

.close::before {
	transform: rotate(45deg);
}

.close::after {
	transform: rotate(-45deg);
}

:not(.btn:disabled, .close, .counter):where(.btn:active, .btn:hover) {
	box-shadow: inset 0 0 3px var(--color-translucent-black);
	transition: none;
}

@media (any-hover: hover) {
	:not(.btn:disabled):where(.counter:hover) {
		--color-counter: var(--color-bright-orange);
	}
	.close:hover {
		color: var(--color-translucent-blue);
	}
}
