.count {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 118px;
	height: 76px;
	padding: var(--padding-sm);
	font-size: var(--font-size-xlg);
	line-height: 1.3;
	font-weight: var(--font-weight-bold);
	color: var(--color-dark-blue);
	border: var(--border-width-md) solid currentColor;
	outline: currentColor;
	border-radius: var(--border-radius-main);
	letter-spacing: 2px;
	text-align: center;
	transition: color var(--animate-duration);
}

.count:disabled {
	cursor: not-allowed;
}

.cardInput {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.input {
	background-color: transparent;
}

.count:focus {
	color: var(--color-bright-orange);
}

.loading {
	cursor: not-allowed;
}

@media (any-hover: hover) {
	.count:hover {
		color: var(--color-bright-orange);
	}
}
