.quiz {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-md);
	counter-reset: count 0;
}

.quizText {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-block: var(--padding-xs);
	padding-inline: var(--padding-lg);
	border-radius: var(--border-radius-quiz-input);
	counter-increment: count 1;
}

.quizText::before {
	content: counter(count);
	position: absolute;
	top: 12px;
	left: 15px;
	z-index: 10;
	font-weight: var(--font-weight-bold);
	color: var(--color-dark-blue);
}
