.quiz {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-md);
	counter-reset: count 0;
}

.quizText {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-block: var(--padding-xs);
	padding-inline: var(--padding-lg);
	border-radius: var(--border-radius-main);
	border: var(--border-width-md) solid currentColor;
	counter-increment: count 1;
	user-select: none;
}

.quizText::before {
	content: counter(count);
	position: absolute;
	top: 12px;
	left: 15px;
	z-index: 10;
	font-weight: var(--font-weight-bold);
	color: currentColor;
}

.quizText.rightAnswer {
	color: var(--color-light-gray);
	border-color: var(--color-green);
	background-color: var(--color-green);
}

.quizText.rightAnswer::before {
	color: var(--color-light-gray);
}

input[type='radio']:disabled + .quizText {
	cursor: not-allowed;
}

input[type='radio']:checked + .quizText {
	color: var(--color-light-gray);
	border-color: var(--color-bright-orange);
	background-color: var(--color-bright-orange);
}

input[type='radio']:checked + .quizText::before {
	color: var(--color-light-gray);
}

input[type='radio']:checked + .quizText.rightAnswer {
	border-color: var(--color-green);
	background-color: var(--color-green);
	transition: all 0.2s;
}

input[type='radio']:checked + .quizText.wrongAnswer {
	border-color: var(--color-red);
	background-color: var(--color-red);
	transition: all 0.2s;
}

input[type='radio']:checked + .quizText.wrongAnswer::after {
	content: url('./assets/images/error.svg');
	position: absolute;
	right: 17px;
}

input[type='radio'] + .quizText.rightAnswer::after {
	content: url('./assets/images/access.svg');
	position: absolute;
	right: 17px;
}

@media (any-hover: hover) {
	.quizText:not(.quizText.wrongAnswer, .quizText.rightAnswer):hover {
		color: var(--color-light-gray);
		border-color: var(--color-bright-orange);
		background-color: var(--color-bright-orange);
	}
}
