.buttonWrapper {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-xs);
}

.buttonDesc {
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-regular);
	text-align: center;
	user-select: none;
}

.buttonDesc.disabled {
	opacity: 0.4;
}

.buttonEnter {
	font-weight: var(--font-weight-bold);
}

.buttonEnter::after {
	content: ' ↵';
}
