.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 337px;
	height: max(812px, 100dvh);
	padding-inline: var(--padding-md);
}

.wrapper {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-md);
	width: 590px;
}

@media (max-width: 1279px) {
	.container {
		height: max(730px, 100dvh);
		padding-inline: var(--padding-xmd);
	}
}

@media (max-width: 767px) {
	.container {
		height: max(450px, 100dvh);
		padding-inline: var(--padding-sm);
	}

	.wrapper {
		row-gap: var(--gap-xxs);
	}
}
