.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: var(--container-min-width);
	height: max(812px, 100dvh);
	padding-inline: var(--padding-md);
}

.wrapper {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-md);
	width: 590px;
}
