.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 1280px;
	min-height: 100vh;
	padding-inline: var(--container-padding-x);
	padding-block: var(--container-padding-y);
}

.wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	width: 590px;
}
