.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	--size-menu: 40px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: var(--size-menu);
	height: var(--size-menu);
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

.item {
	list-style-type: none;
}
