.row {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.btn {
	min-width: 270px;
	min-height: 72px;
	border: 1px solid currentColor;
	border: none;
	font-size: 2rem;
	font-weight: 700;
	color: var(--content-white-color);
	border-radius: var(--main-border-radius);
	background-color: #ff9c46;
	cursor: pointer;
	user-select: none;
	transition: border 0.3s, color 0.3s;
}

:not(.btn:disabled):is(.btn:active, .btn:hover) {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
	transition: none;
}

.btn:disabled {
	cursor: default;
	background-color: #edd0b6;
}

.desc {
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
}

.desc.disabled {
	opacity: 0.4;
}

.enter {
	font-weight: 700;
}

.enter::after {
	content: ' ↵';
}
