.cardWrapper {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}
.quiz {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.quizTitle {
	line-height: 1.14;
}

.quizLabel {
	position: relative;
	height: 56px;
	font-size: 2rem;
	border: 4px solid var(--main-color);
	border-radius: var(--main-border-radius);
	user-select: none;
}

.quizLabel:hover {
	border-color: rgba(18, 83, 101, 0.7);
}

.quizLabel:first-of-type {
	margin-top: 3.2rem;
}

.input {
	width: 18px;
	margin-right: 8px;
	height: 0px;
}

.quizLabel:active {
	border-color: var(--main-color);
}

.quizText {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-block: 1.1rem;
	padding-inline: 4.2rem;
	border-radius: 6px;
}

input[type='radio']:checked + span {
	background-color: rgb(211, 227, 211);
}

.input::after {
	content: attr(value);
	position: absolute;
	top: 11px;
	left: 15px;
	z-index: 10;
	color: var(--main-color);
	font-weight: 700;
}

.cardInner {
	display: flex;
	justify-content: space-between;
}

.cardCount {
	font-size: 2rem;
	font-weight: 700;
	padding-top: calc(52px / 2);
}
