.cardWrapper {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}
.quiz {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.quizTitle {
	padding-inline: 0;
	line-height: 1.14;
}

.quizText {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-block: 1.2rem;
	padding-inline: 4.2rem;
	border-radius: 6px;
}

.cardInner {
	display: flex;
	justify-content: space-between;
}

.cardCount {
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.7px;
	padding-top: calc(52px / 2);
}
