.cardWrapper {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap);
}

.cardInner {
	display: flex;
	justify-content: space-between;
}

.cardCount {
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-bold);
	letter-spacing: 0.7px;
	padding-top: calc(52px / 2);
}

@media (max-width: 767px) {
	.cardWrapper {
		row-gap: var(--gap-md);
	}

	.cardCount {
		font-size: var(--font-size-xsm);
		line-height: 1.28;
		padding-top: calc(36px / 2);
	}
}
