.cardWrapper {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap);
}

.cardInner {
	display: flex;
	justify-content: space-between;
}

.cardCount {
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-bold);
	letter-spacing: 0.7px;
	padding-top: calc(52px / 2);
}
