.btn {
	position: relative;
	cursor: pointer;
}

.main {
	min-width: 270px;
	min-height: 72px;
	border: 1px solid currentColor;
	border: none;
	font-size: 2rem;
	font-weight: 700;
	color: var(--content-white-color);
	border-radius: var(--main-border-radius);
	background-color: var(--button-main);
	cursor: pointer;
	user-select: none;
	transition: border 0.3s, color 0.3s;
}

.main:disabled {
	cursor: default;
	background-color: var(--button-main-disabled);
}

.counter {
	position: relative;
	width: 50px;
	height: 50px;
	padding: initial;
	border: 4px solid var(--main-color);
	border-radius: var(--border-circle-radius);
	background-color: transparent;
	cursor: pointer;
}

.counter:disabled {
	cursor: default;
	opacity: 0.5;
}

.decrement::after,
.increment::after {
	display: block;
	content: '';
	position: absolute;
	transform: translate(63%, -44%);
	width: 18px;
	height: 4px;
	border-radius: var(--counter-border-radius);
	background-color: var(--main-color);
}

.increment::before {
	display: block;
	content: '';
	position: absolute;
	transform: translate(18px, -49%);
	width: 4px;
	height: 18px;
	border-radius: var(--counter-border-radius);
	background-color: var(--main-color);
}

.close {
	width: 33px;
	height: 33px;
	padding: initial;
	color: rgba(0, 0, 0, 0.3);
	background-color: radial-gradient(
		transparent 50%,
		var(--content-white-color) 100%
	);
	border: 3px solid var(--content-white-color);
	border-radius: var(--border-circle-radius);
}

.close::before,
.close::after {
	content: '';
	display: block;
	position: absolute;
	top: 12px;
	left: 5px;
	width: 16px;
	height: 3px;
	background-color: var(--content-white-color);
	border-radius: 4px;
}

.close::before {
	transform: rotate(45deg);
}

.close::after {
	transform: rotate(-45deg);
}

:not(.btn:disabled, .close):where(.btn:active, .btn:hover) {
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
	transition: none;
}

.close:hover::before,
.close:hover::after {
	opacity: 0.7;
}
