.buttonWrapper {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.buttonDesc {
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
}

.buttonDesc.disabled {
	opacity: 0.4;
}

.buttonEnter {
	font-weight: 700;
}

.buttonEnter::after {
	content: ' ↵';
}
