.quizBlock {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-md);
	min-height: 108px;
	margin: 0;
}

.quizPicture {
	border-radius: var(--border-radius-main);
	height: 100%;
}

.quizTitle {
	line-height: 1.142;
}

@media (max-width: 767px) {
	.quizBlock {
		min-height: 78px;
	}

	.quizPicture {
		width: 72px;
	}
}
