.quizBlock {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-md);
	margin: 0;
}

.quizPicture {
	border-radius: var(--border-radius-main);
	object-fit: cover;
}

.quizTitle {
	line-height: 1.142;
}
